.pageContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  padding: 1px 40px 1px 40px;

  gap: 6rem;

  position: relative;
}

@media screen and (max-width: 1024px) {
  .pageContainer {
    flex-direction: column;
    gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .pageContainer {
    padding: 1px 20px 1px 20px;
  }
}

@media screen and (max-width: 500px) {
  .pageContainer {
    gap: 16px;
  }
}
