.section {
  .header {
    position: sticky;
    top: 0;
    line-height: 2;
    width: 100%;
    padding: 0.5rem 0;

    background-color: hsl(var(--background) / 0.75);
    z-index: 5;
    backdrop-filter: blur(12px);
    .title {
      font-size: 1rem !important;
    }
  }
}
