.status {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 600;
}

.active {
  background-color: hsl(var(--success) / 0.35);
  color: hsl(var(--foreground) / 0.85);
}
.inactive {
  background-color: hsl(var(--destructive) / 0.35);
  color: hsl(var(--foreground) / 0.85);
}
