.experience,
.project,
.openSource {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto;
  margin: 0;
  list-style-type: none;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 8px;
  border: 0.5px solid hsl(var(--border));
  background-color: hsl(var(--muted) / 0.25);
  text-decoration: none !important;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @media screen and (prefers-color-scheme: light) {
    --ring-shadow: 0 0 #0000;
    --ring-offset-shadow: 0 0 #0000;
    --shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px -1px rgba(0, 0, 0, 0.05);
    --shadow-colored: 0 1px 2px 0 var(--shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
      var(--shadow);
  }

  &:hover {
    background-color: hsl(var(--muted) / 1);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    font-size: 0.75rem;
    font-weight: 600;
    width: fit-content;
    color: hsl(var(--foreground) / 1);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 100%;
    min-width: 0;

    .title {
      font-size: 1rem;
      color: hsl(var(--foreground));
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;

      .titleLink {
        font-size: inherit;
      }

      .linkTitle {
        font-size: inherit;
        color: hsl(var(--blue));
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .fadeTitle {
      display: inline-flex;
    }

    .description {
      font-size: 14px;
      text-wrap: pretty;
      color: hsl(var(--muted-foreground));
    }

    .gradientDescription,
    .lightBeamDesc {
      color: hsl(var(--foreground) / 0.9);
    }

    .meteorsDescription,
    .meteorsTitle {
      background-color: transparent;
      backdrop-filter: blur(2px);
    }

    .descriptionList {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        margin-left: 0.875rem;
        color: hsl(var(--muted-foreground));
      }
    }

    strong {
      color: hsl(var(--foreground) / 0.65);
    }
  }

  .techList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.25rem 0;

    .techItem {
      list-style-type: none !important;
      padding: 6px 12px;
      width: fit-content;
      background-color: hsl(var(--card));
      color: hsl(var(--card-foreground) / 0.85);
      border: 1px solid hsl(var(--border));
      border-radius: 4px;
      font-size: 0.8rem;
      line-height: 1;
      letter-spacing: 1.1;

      @media screen and (prefers-color-scheme: dark) {
        background-color: hsl(var(--tag));
        color: hsl(var(--tag-foreground));
        border-color: hsl(var(--tag-foreground));
      }
    }
  }
}

.gradientLinkBg {
  background-color: hsl(var(--background) / 0.45);

  &:hover {
    background-color: hsl(var(--muted) / 0.9);

    & .gradientBg {
      opacity: 0.1 !important;
    }
  }
}

.gradientBg {
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.1 !important;
  }
}

.downloadsBadge {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 600;
  border: 0.75px solid hsl(var(--foreground) / 0.25);
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
}

.lightBeam {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.25 !important;
}

.noHoverCard {
  cursor: initial;
}

.openSource {
  transition: all 0.2s ease;

  > * {
    transition: all 0.2s ease;
  }

  .copyCardButton {
    background-color: hsl(var(--background) / 0.75);
    border: 1px solid hsl(var(--foreground) / 0.25);
    color: hsl(var(--foreground));
  }

  &:hover {
    & .downloadsBadge {
      background-color: hsl(var(--background) / 0.75);
    }

    & .copyCardButton {
      background-color: hsl(var(--background) / 1);

      &:hover {
        background-color: hsl(var(--background) / 0.47);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .project,
  .experience {
    grid-template-columns: 25% 1fr;
  }
}

@media screen and (max-width: 768px) {
  .experience,
  .project,
  .openSource {
    display: flex;
    flex-direction: column;

    .header {
      min-width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
